body{
    margin: 0px;
    padding: 0px;
}
.main{
    width:100%;
    height:600px;
    background-image: url(WhatsApp\ Image\ 2025-10-13\ at\ 14.22.29_8b6d7b22.jpg);
    background-size:cover;
    border-bottom-right-radius:100% 200px;
    border-bottom-left-radius: 100% 200px;
    
     
} 
.top{
    display: flex;
    justify-content: space-between;
    
}
.title{
    flex-grow:1;
    font-size: 22px;
    padding-left: 60px;
    margin-top: 25px;
}
.sup1{
    font-size: 17px;
    letter-spacing:0px;
}
.subtop{
    margin-top: 30px;
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    
}
.subtop a {
    opacity: 5;
    text-decoration: none;
    color: rgb(255,255,255);
}
.title span{
    color: white;
    font-size: 30px;
}
/* .subtop a:hover{
    font-size: 18px;
} */
.subtop a:hover{
    color: rgb(0, 136, 255);

}
.mid{
    width: 100%;
    display: grid;
    grid-template-rows: 80px 50px 50px;
    justify-items: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 150px;
}
.register{
    font-size: 30px;
}
.head{
    font-weight: 900;
    font-size: 40px;
}
.sup{
    font-size: 25px;
    letter-spacing:0px;
}
.button{
    border-radius:5px;
    text-align: center;
    height: 30px;
    width: 100px;
font-size: 22px;
border:solid rgb(30, 174, 231) 1px;
transition-duration: 1s;
}
.button:hover{
    background-color: rgb(45, 176, 228);
}
.login{
    border-radius: 8px;
    color: white;
   padding-top: 5px;
   text-align: center;
    width: 130px;
    height:28px;
    background-color: rgb(10, 154, 211);
}
.login:hover{
    background-color:rgb(106, 180, 210) ;
}